/* Declaracion de Variables */
:root {
    --color-principal: rgb(167, 239, 208);
    --color-secundario: rgb(122, 113, 29);
    --color-footer: rgba(122, 113, 29, 0.336);
    /* --fuente-principal: 'Kosugi Maru', sans-serif; */
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Inicio Header */

.nav-manzana {
    background-color: var(--color-principal);
}

.navbar {
    background-color: var(--color-principal);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
}

.boton li:hover {
    background-color: var(--color-secundario);
    border-radius: 4px;
}

.boton li:active {
    background-color: var(--color-footer);
}

.btn {
    height: 30px;
    align-self: center;
    border:none;
}

.boton a {
    color: #fff;
}

input {
    height: 30px;
}

button i {
    font-size: larger;
    color: #000;
}

button i:hover {
    color: #fff;
}

/* Estilos para el botón cuando está en hover */
.btn.btn-outline-success:hover {
    background-color: var(--color-secundario);
    color: #fff;
}

/* Fin  Header */

/* Inicio Footer */
.boxfooter {
    height: auto;
    background-color: var(--color-footer);
}

.footer-prim {
    background-color: var(--color-secundario);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
}

.boxfooter a {
    text-decoration: none;
    color: #000;
}

.boxfooter a:hover {
    color: var(--color-secundario);
}

.boxfooter i {
    font-size: x-large;
}

.boxfooter h6 {
    color: #FFF;
}

.boxfooter img {
    padding: 10px;
}

#a-link:hover {
    color: #FFF;
}

.redes {
    align-self: center;
}

footer .data {
    width: 96%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: auto;
    padding: 28px 0px;
    border-bottom: 1px solid var(--color-secundario);
}

footer .data li {
    display: flex;
    align-items: flex-start;
    color: #FFF;
}

footer .data li img {
    width: 36px;
    margin-right: 12px;
}

footer .data li h6 {
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    margin-bottom: 0px;
}

footer .data li a,
footer .data li p {
    color: #FFF;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
}

footer .data li a:hover {
    text-decoration: underline;
}

/* Fin Footer */

/* Whatsapp */
.whatsapp {
    height: 40px;
    width: 40px;
    background-color: var(--color-secundario);
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    box-shadow: 2px 2px 5px #fff;
    border-radius: 50%;
}

.whatsapp:hover {
    color: var(--color-principal);
}

/* Fin Whatsapp */

/* Inicio Novedades*/

.novedades {
    display: flex;
    flex-direction: row;
}

section {
    max-width: 90%;
}

h2 {
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    background-color: var(--color-footer);
    color: #fff;
}


.novedades-img1 {
    height: 200px;
    background-image: url(../imagenes/novedad1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0px 0px;
}

.novedades-img2 {
    height: 200px;
    background-image: url(../imagenes/novedad2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0px 0px;
}

.novedades-img3 {
    height: 200px;
    background-image: url(../imagenes/novedad3.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0px 0px;
}

.novedades-img4 {
    height: 200px;
    background-image: url(../imagenes/novedad4.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0px 0px;
}

.novedades-img5 {
    height: 200px;
    background-image: url(../imagenes/novedad5.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0px 0px;
}

.novedades-img6 {
    height: 200px;
    background-image: url(../imagenes/novedad6.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0px 0px;
}

.novedades-titulo {
    color: rgba(47, 66, 13, 0.872);
    font-size: 25px;
    padding: 5px;
}

.novedades-desc {

    padding: 15px;
}


.novedades-redes a {
    color: var(--color-secundario);
    font-size: 35px;
    letter-spacing: 15px;
}

.card {
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
}

.card-title {
    text-shadow: 2px 2px 10px #a7a0a0cf;
}


.custom-carousel-prev .carousel-control-prev-icon {
    background-color: var(--color-secundario);
    border-radius: 50%;
}

.custom-carousel-next .carousel-control-next-icon {
    background-color: var(--color-secundario);
    border-radius: 50%;
}

/* Fin Novedades */


/* Inicio Nosotros */
.nosotros {
    margin: auto;
    padding: 70px 0;
    display: flex;
    align-items: center;
    background-color: var(--color-footer);
}

.nosotros .cont12a {
    max-width: 1400px
}

.nosotros .logo {
    max-width: 550px;
    width: 100%
}

.nosotros-apple {
    font-size: 60px;
}

/* Acordeon */

.accordion {
    width: 100%;
}


/* Productos */

.producto {
    width: 250px;
    max-width: 100%;
    border: 1px solid rgba(50, 49, 49, 0.05);
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

del {
    font-size: small;
}

.precio {
    color: #000;
}

.producto:hover {
    border: 1px solid rgb(0, 0, 0);

    .precio {
        color: var(--color-secundario);
    }
}

.sku {
    color: #000;
}

.name-product {
    padding: 5px;
    color: #000;
    font-size: small;
}

.foto {
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
    width: 80%;
    max-width: 100%;
    /* Para asegurarse de que no se desborde en pantallas más pequeñas */
    height: auto;
}

.ver-producto {
    background-color: var(--color-footer);
    text-align: center;
    line-height: 15px;
    font-size: 10px;
    box-shadow: 2px 2px 5px #fff;
}

.ver-producto:hover {
    background-color: var(--color-secundario);
    color: #FFF;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
}

/* Fin Productos */

/* Newsletter */
.newsletter{
    background-color: var(--color-footer);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.904);
}
/* Fin Newsletter */



    @media (max-width: 576px) {

        /* ocupo el maximo del ancho en version sm */
        .producto {
            width: 100%;
        }
    }

    @media (min-width: 576px) and (max-width: 768px) {

        /* Agrega tus estilos específicos para "md" aquí */
        .producto {
            width: 100%;
        }
    }